<p>view works!</p>

<ng-container *ngIf="region$ | async as region; else loading">
    <div>
        <h2>{{ region.name }}</h2>
        <p>ID: {{ region.id }}</p>
        <div *ngIf="region.buildings">
            <h3>Buildings</h3>
            <ul>
                <li *ngFor="let building of region.buildings">{{ building.name }}</li>
            </ul>
        </div>
        <div *ngIf="region.residents">
            <h3>Residents</h3>
            <ul>
                <li *ngFor="let resident of region.residents">{{ resident.firstname }}</li>
            </ul>
        </div>
    </div>
</ng-container>

<ng-template #loading>
    <p>Loading...</p>
</ng-template>